<div class="card text-bg-dark border border-0" id="acer">
  <img [src]="miPorfolio.img" id="imagen">
  <div id="img-p-ed">
    <a href=""><img [src]="miPorfolio.edit" alt="button"></a>
    <a href=""><img [src]="miPorfolio.trash" alt="button"></a>
  </div>
<img [src]="miPorfolio.banner" class="card-img-top">
  <div id="b-ed">
    <a href=""><img [src]="miPorfolio.edit" alt="button"></a>
  </div>
<p id="tituloo"><b>{{miPorfolio.titulo}}</b></p>
<p id="nombre"><b>{{miPorfolio.nombre}}</b></p>
<p id="ubi"><b>{{miPorfolio.ubi}}</b></p>
<div id="t-n-ed">
<a href=""><img [src]="miPorfolio.edit" alt="button"></a>
</div>
<div class="card-body">
<p class="card-text">
  <b>{{miPorfolio.acercaDe}}</b><br><p>{{miPorfolio.acercaDeText}}</p>
  <div id="acer-ed">
    <a href=""><img [src]="miPorfolio.edit" alt="button"></a>
    <a href=""><img [src]="miPorfolio.trash" alt="button"></a>
  </div>
</div>
</div>